body {
  font-family: "Ek Mukta", sans-serif;
    background-color: #e3e2df;
}

header {
  // background-color: #e3e2df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Ek Mukta", sans-serif;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}


h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5;
  font-weight: 800;
  color: #e3e2df;
  margin: 0;
  padding-top: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.covid {
  color: #e67260;
}

.vacc {
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 2px 0 #e67260,
    2px 2px 0 #e67260;
    color: #f3c6a8;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  color: black;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 1px 0 #e67260,
    2px 2px 0 #e67260;
}

h3 {
  font-size: 1.7rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

input,
select {
  height: 50%;
  margin-right: 30px;
}

.errorMessage {
  font-size: 1.5rem;
  color: red;
  font-style: italic;
  position: relative;
  // letter-spacing: 1.2px;
  font-weight: 400;
  height: 55px;
  top: 60px;
  font-family: "Ek Mukta", sans-serif;
    text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000,
}

.far, .fa-hand-point-down{
  font-size: 3rem;
  padding-right: 20px;
 color: #e67260;
   text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

form {
  height: 150px;
}

.form-flex {
  display: flex;
  background-color: #e3e2df;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 600px;
  top: 70px;
  border: 5px solid #e67260;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  text-align: center;
  width: 100%;
  display: inline-block;
}

// RESULTS STYLING

.results-container {
  background-color: #f3c6a8;
  height: 500px;
  max-width: 80%;
  min-width: 70%;
  border: 5px solid #e67260;
  border-radius: 20px;
  padding: 90px 30px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.results-left {
  width: 50%;
  height: 100%;
}

.total-cases {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
height: 80%;
justify-content: space-around;
}

.results-right {
  width: 43%;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.total-cases-results {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.selected-container-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  color: #86d876;
  height: 80%;
  text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000, 0.5px 0.5px 0 #000;
}

.total-tested-results,
.total-recovery-results,
.partial-vaccine-results,
.full-vaccine-results {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  height: 100%;
}

/* BUTTON*/

.btn-optn2-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-optn2 {
  background-color: #e27d60;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 0 5px 10px #000;
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 100%;
  position: relative;
  top: -5px;
}
.btn-optn2:hover {
  background-color: #e8a87c;
}
.btn-optn2:active {
  background-color: #e27d60;
  box-shadow: 0 5px 4px #000;
  transform: translateY(2px);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  header {
    height: 100vh;
  }

  h2 {
    margin: auto 0;
  }

  .btn-optn {
    position: relative;
    top: 0px;
  }

  .results-container {
    display: flex;
    margin-top: 0;
    // width: 70%;
  }
  .selection-container {
    flex-direction: column;
    align-items: center;
    // height: 100%;
    padding: 0;
    width: 100%;
  }

  .total-cases,
  .selection-container {
    display: flex;
    // position: relative;
    width: 100%;
    // height: 30%;
    // margin: 30px 0;
    align-items: flex-end;
  }

  .form-flex {
    top: 75px;
  }
}

@media (max-width:480px) {

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .results-container {
    width: 85%;
  }

  .results-left {
    width: 70%;
    text-align: right;
}
.results-right {
  width: 25%;
}

.total-cases-results {
    font-size: 1.5rem;

    letter-spacing: 1.2px;
    font-weight: 400;

}

.total-tested-results, .total-recovery-results, .partial-vaccine-results, .full-vaccine-results {
    letter-spacing: 1.2px;
    font-size: 1.4rem;
}

    .form-flex {
    top: 75px;
    flex-direction: column-reverse;
    width: 330px;
  }
  .btn-optn2 {
    margin: 20px 0;
    // width: 30px;
  }

  .errorMessage {
    font-size: 1rem;
    // height: 40px;
  }

  input, select {
    height: 50%;
    margin-right: 0;
    margin-bottom: 10px;

}

}