* {
  // margin: 0;
  // padding: 0;
}

body {
  font-family: "Ek Mukta", sans-serif;
}

header {
  background-color: #e3e2df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
    font-family: "Ek Mukta", sans-serif;
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5;
  font-weight: 800;
  color: #e3e2df;
  margin: 0;
  padding-top: 100px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 2px 0 #000;
}

.covid {
  color: #e67260;
}

.vacc {
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 2px 0 #e67260,
    2px 2px 0 #e67260;
  /* text-shadow: 4px 4px rgba(0, 0, 0, 0.4); */
}

h2 {
  font-size: 2.2rem;
  color: black;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 1px 0 #e67260, 2px 2px 0 #e67260;
}

h3 {
  font-size: 1.7rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  // text-transform: uppercase;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

input, select {
    height: 50%;
    margin-right: 30px;
}

form {
      height: 150px;
}

.form-flex {
  display: flex;
  background-color: #e3e2df;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 500px;
  top: 70px;
  border: 5px solid #e67260;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  text-align: center;
  width: 100%;
  display: inline-block;
}

// RESULTS STYLING

.results-container {
  background-color: #f3c6a8;
  height: 100%;
  width: 50%;
  border: 5px solid #e67260;
  border-radius: 20px;
  padding: 90px 30px 30px;
  // margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.results-left {
  width: 50%;
  // border: 2px solid purple;
}

.total-cases {
  // border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20%;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  width: 100%;
  // border: 1px solid green;
}

.results-right {
  width: 43%;
  height: 100%;
  // font-size: 1.3rem;

  letter-spacing: 1.5px;
  font-weight: 600;
  // text-transform: uppercase;
  // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.total-cases-results {
  height: 20%;
  display: flex;
  align-items: center;
  // border: 2px solid black;
  font-size: 2rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  // text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.selected-container-results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1.5rem;
    color: #86d876;
  height: 80%;
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.5px 0.5px 0 #000;
  // border: 2px solid black;
}

.total-tested-results,
.total-vaccine-results,
.test-results,
.test-results2,
.test-results3 {
  display: flex;
  align-items: center;
    letter-spacing: 2px;
  height: 100%;
}

/* BUTTON*/

.btn-optn2-div {
  display: flex;
  justify-content: center;
  width: 100%;

}

.btn-optn2 {
  background-color: #e27d60;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 7px;
  box-shadow: 0 5px 10px #000;
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 100%;
    position: relative;
  top: -5px;
}
.btn-optn2:hover {
  background-color: #e8a87c;
}
.btn-optn2:active {
  background-color: #e27d60;
  box-shadow: 0 5px 4px #000;
  transform: translateY(2px);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  header {
    height: 100%;
  }

  h2 {
    padding: 40px 0;
  }

  .btn-optn {
    position: relative;
    top: -25px;
  }

  results-container {
    display: flex;
    margin-top: 0;
    width: 70%;
  }
  .selection-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    width: 100%;
    /* border: 3px solid red; */
  }

  .total-cases,
  .total-tested,
  .total-vaccine {
    position: relative;
    width: 100%;
    height: 30%;
    margin: 30px 0;
    /* display: flex;
      flex-direction: column; */
    justify-content: space-between;
    /* border: 2px solid green; */
  }

  .form-flex {
    top: 20px;
  }
}
