html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Ek Mukta", sans-serif;
  background-color: #e3e2df;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "Ek Mukta", sans-serif;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5;
  font-weight: 800;
  color: #e3e2df;
  margin: 0;
  padding-top: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.covid {
  color: #e67260;
}

.vacc {
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 2px 0 #e67260, 2px 2px 0 #e67260;
  color: #f3c6a8;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.2rem;
  color: black;
  letter-spacing: 1px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #e67260, 1px -1px 0 #e67260, -1px 1px 0 #e67260, 2px 2px 0 #e67260;
}

h3 {
  font-size: 1.7rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

input,
select {
  height: 50%;
  margin-right: 30px;
}

.errorMessage {
  font-size: 1.5rem;
  color: red;
  font-style: italic;
  position: relative;
  font-weight: 400;
  height: 55px;
  top: 60px;
  font-family: "Ek Mukta", sans-serif;
  text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000;
}

.far,
.fa-hand-point-down {
  font-size: 3rem;
  padding-right: 20px;
  color: #e67260;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
}

.blink-me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
form {
  height: 150px;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e3e2df;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
  width: 700px;
  top: 70px;
  border: 5px solid #e67260;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submit-button {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.results-container {
  background-color: #f3c6a8;
  height: 500px;
  max-width: 80%;
  min-width: 70%;
  border: 5px solid #e67260;
  border-radius: 20px;
  padding: 90px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.results-left {
  width: 50%;
  height: 100%;
}

.total-cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
}

.selection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.results-right {
  width: 43%;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.total-cases-results {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #e67260;
  letter-spacing: 1.5px;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.selected-container-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  color: #86d876;
  height: 80%;
  text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000, 0.5px 0.5px 0 #000;
}

.total-tested-results,
.total-recovery-results,
.partial-vaccine-results,
.full-vaccine-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  height: 100%;
}

/* BUTTON*/
.btn-optn2-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.btn-optn2 {
  background-color: #e27d60;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 7px;
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
  display: inline-block;
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  width: 100%;
  position: relative;
  top: -5px;
}

.btn-optn2:hover {
  background-color: #e8a87c;
}

.btn-optn2:active {
  background-color: #e27d60;
  -webkit-box-shadow: 0 5px 4px #000;
          box-shadow: 0 5px 4px #000;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  header {
    height: 100vh;
  }

  h2 {
    margin: auto 0;
  }

  .btn-optn {
    position: relative;
    top: 0px;
  }

  .results-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }

  .selection-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    width: 100%;
  }

  .total-cases,
.selection-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .form-flex {
    top: 75px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .results-container {
    width: 85%;
  }

  .results-left {
    width: 70%;
    text-align: right;
  }

  .results-right {
    width: 25%;
  }

  .total-cases-results {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 400;
  }

  .total-tested-results,
.total-recovery-results,
.partial-vaccine-results,
.full-vaccine-results {
    letter-spacing: 1.2px;
    font-size: 1.2rem;
  }

  .form-flex {
    top: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 330px;
  }

  .btn-optn2 {
    margin: 20px 0;
  }

  .errorMessage {
    font-size: 1rem;
  }

  input,
select {
    height: 50%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}